@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-grey100: #F3F6FF;
    --color-grey200: #EFF2FC;
    --color-grey300: #E2E5F1;  
    --color-grey400: #D4D7E5;
    --color-grey500: #B4B7C9;
    --color-grey600: #9397AD;
    --color-grey700: #565973;
    --color-grey800: #33354D;
    --color-grey900: #0B0F19;
    --color-primary: #6366F1;
    --color-error: #EF4444;
    --color-success: #22C55E;
    --color-warning: #FFBA08;
    --color-info: #4C82F7;
    --color-white: #FFFFFF;

    --container-padding: 1rem;
    --transition-time: all 0,2s;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-primary:hover{
    background-color: var(--color-grey600);
    color: var(--color-white);
    text-decoration: none;
}
.btn-primary i {
    margin-right: .5rem;
}
.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-toggle-switch .label {
    display: none;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}
.toggle-switch input {
    opacity: 0;
}
.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}
.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary)
}
.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey600);
    transition: all 0.2s;
}
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}
.toggle-switch .slider.round {
    border-radius: 35px;
}
.toggle-switch .slider.round:before {
    border-radius: 50%;
}

.navbar {
    display: none;
}

.nav-link {
    color: var(--color-grey800);
    font-weight: 600;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main .container2 {
    gap: 10px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgb(241, 238, 248));
}

.grid-container {

    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

p {
    color: var(--color-grey700);
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
    font-size: 22px;
}

#text2 {
    padding-bottom: 35px;
}

h1 {
    font-weight: 800;
    margin-right: 45px;
    margin-left: 45px;
    text-align: center;
}

#discovermore {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item5 {
    display: none;
}

.label2 {
    color: var(--color-grey700);
}

.label2:hover {
    color: var(--color-primary);
}

#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}

.brand-box {
    border: 1px solid var(--color-grey300);
    border-radius: 8px;
    height: 100px;
    width: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2 .container {
    
    h2 {
        font-size: 28px;
        text-align: center;
    }

    h3 {
        font-size: 22px;
    }
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    p {
        font-size: 18px;
    }

    img {
        background-color: var(--color-grey100);
        padding: 1.3rem;
        border-radius: 8px;
    }
}




footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    p {
        color: var(--color-grey600);
    }

    .copyright {
        padding: 0;
    }
}










@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .btn-toggle-switch .label {
        display: block;
    }
    header .container {
        gap: 3rem;
    }

    .container2 {
        place-items: center;
    }

    h1 {
        font-size: 44px;
        padding-left: 200px;
        padding-right: 200px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: .5fr .5fr .5fr;
    }

    .grid-item1 {
        p {
            text-align: left;
            font-size: 20px;
            padding-left: 10px;
        }
        padding-top: 70px;
    }

    .grid-item2 {
        width: 150px;
        height: 50px;
    }
    
    #appstore > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      
    }

    .grid-item3 {
        width: 150px;
        height: 50px;
    }

    #googleplay > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: .5rem;
        gap: 1.5rem;
        padding-left: 1rem;
        grid-column: 1;
        grid-row: 2;
    }

    .grid-item4 {
        grid-column: 1;
        grid-row: 3;
        padding-left: 1rem;
    }

    .grid-item5 {
        display: block;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        place-self: center;
    }
    

    #brands {
        display: block;
    }

    #brand-5, #brand-6 {
        display: none;
    }

    footer {
        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .copyright {
            margin: 0;
        }
        .credit {
            margin-left: .3rem;
        }
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
    .btn-toggle-switch .label {
        display: block;
    }
    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
    }
    .navbar {
        display: block;
    }
    #auth-signin {
        display: block;
    }
    .btn-mobile {
        display: none;
    }

    main .container2 {
        max-width: 1320px;
        height: 875px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: auto 4;
    }

    .grid-container {
        height: 800px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
    }


    .container2 h1 {
        text-align: left;
        grid-column: 1;
        grid-row: 1;
        padding-left: 0;
        padding-right: 0;
        padding-top: 8rem;
    }
    
    .grid-item1 {
       grid-column: 1;
       grid-row: 2;
       padding-top: 1rem;
       place-self: start;
    }

    .flex {
        padding-top: 2.5rem;
    }

   .grid-item4 {
        padding-top: 9rem;
    }

    .grid-item5 {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        place-self: unset;
    }

    #brand-5, #brand-6 {
        display: flex;
    }

}