@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-grey100: #F3F6FF;
    --color-grey200: #EFF2FC;
    --color-grey300: #E2E5F1;  
    --color-grey400: #D4D7E5;
    --color-grey500: #B4B7C9;
    --color-grey600: #9397AD;
    --color-grey700: #565973;
    --color-grey800: #33354D;
    --color-grey900: #0B0F19;
    --color-primary: #6366F1;
    --color-error: #EF4444;
    --color-success: #22C55E;
    --color-warning: #FFBA08;
    --color-info: #4C82F7;
    --color-white: #FFFFFF;

    --container-padding: 1rem;
    --transition-time: all 0,2s;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

    /* -----HEADER----- */

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}
a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

    /* all kod för knappen är lånad från Hans Mattin-Lassei! */

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-primary:hover{
    background-color: var(--color-grey600);
    color: var(--color-white);
    text-decoration: none;
}
.btn-primary i {
    margin-right: .5rem;
}
.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-toggle-switch .label {
    display: none;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}
.toggle-switch input {
    opacity: 0;
}
.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}
.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary)
}
.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey600);
    transition: all 0.2s;
}
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}
.toggle-switch .slider.round {
    border-radius: 35px;
}
.toggle-switch .slider.round:before {
    border-radius: 50%;
}

    /* slut av lånad kod */

.navbar {
    display: none;
}
.nav-link {
    color: var(--color-grey800);
    font-weight: 600;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}
.active {
    color: var(--color-primary);
    text-decoration: underline;
}
#auth-signin {
    display: none;
}
header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

    /* -----PAGE 1----- */

    .page1 {
        background: rgb(99,102,241);
        background: linear-gradient(0deg, rgba(99,102,241,0.10127801120448177) 0%, rgba(218,70,239,0.05085784313725494) 42%, rgba(241,244,253,0.07046568627450978) 83%);
        padding-bottom: 2rem;

        .container {
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr;
            grid-template-areas: "headline" "content";

        }
        .headline {
            grid-area: headline;
            text-align: center;
            
            h1 {
                font-size: 40px;
                font-weight: 800px; 
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
        .content {
            grid-area: content;
            text-align: center;

            p {
                font-size: 18px;
                color: var(--color-grey700);
                margin-bottom: 2.5rem;
            }
            .buttons {
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
            }
            .discovermore {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2rem;
                gap: 1.5rem;
                color: var(--color-grey700);
            }
        }

        .images {
            position: relative;
            grid-area: images;
            display: none;

            .image-back {
                position: absolute;
                z-index: -10;
                bottom: 0;
                right: 100px;
                width: 70%;
                height: auto;
            }
            .image-front {
                position: absolute;
                z-index: -5;
                bottom: 0;
                right: 0;
                width: 70%;
                height: auto;
            }
        }
    }
    .btn-circle {
        height: 44px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid var(--color-grey200);
        background-color: var(--color-white);
        color: var(--color-grey800);
    }
    .btn-store {
        background-color: var(--color-grey900);
        border-radius: 10px;
        padding: 12px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-store:hover {
        background-color: var(--color-grey800);
    }

    /* -----BRAND BOX----- */

#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}
.brand-box {
    border: 1px solid var(--color-grey300);
    border-radius: 8px;
    height: 100px;
    width: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* -----PAGE 2----- */

.page2 .container {
    
    h2 {
        font-size: 28px;
        text-align: center;
        font-weight: 800;
    }
    h3 {
        font-size: 22px;
        padding-left: 2rem;
        align-self: start;
        font-weight: 800;
    }
    p {
        font-size: 20px;
        color: var(--color-grey700);
        text-align: center;
        padding-bottom: 1rem;
    }
    .image {
        display: none;
    }
}
.container .box1, .box2, .box3, .box4, .box5, .box6 { 
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .5fr .5fr;
    grid-template-areas: "img h3 h3 h3 h3" "img p p p p";

    p {
        font-size: 18px;
        color: var(--color-grey700);
        grid-area: p;
        text-align: left;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }

    img {
        background-color: var(--color-grey100);
        padding: 1.3rem;
        border-radius: 8px;
        grid-area: img;
        margin-top: 1rem;
        
    }
}







    /* -----TESTIMONIAL----- */
    .testimonial {
        display: none;
    }









    /* -----FOOTER----- */

footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p {
        color: var(--color-grey600);
        text-align: center;
    }
    .copyright {
        padding: 0;
    }
}










@media (min-width: 768px) {
    
    /* -----HEADER----- */

    .container {
        max-width: 720px;
    }
    .btn-toggle-switch .label {
        display: block;
    }
    header .container {
        gap: 3rem;
    }

    /* -----PAGE 1----- */

    .page1 {
        padding-bottom: 0;
        
        .container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "headline headline" "content images";
        
            .discovermore {
                justify-content: flex-start;
                margin-bottom: 2rem;
            }
            .headline {
                padding-right: 3rem;
                padding-left: 3rem;
                
                h1 {
                    font-size: 44px;   
                }
            }    
        }

        .images {
            display: block;
        }
        .content {
            text-align: left;
        }

    }

    /* -----PAGE 2----- */
    
    .page2 .container {

        h2 {
            font-size: 34px;    
            padding-bottom: 0;
        }
        p {
            padding-bottom: 1.5rem;
        }
        .boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        }
 
    }

    .container .box1, .box2, .box3, .box4, .box5, .box6 {

        p {
            padding-bottom: 0;
        }
    }

    /* -----BRAND BOX----- */

    #brands {
        display: block;
    }
    #brand-5, #brand-6 {
        display: none;
    }






    /* -----TESTIMONIAL----- */
    .testimonial {
        display: none;
    }















    /* -----FOOTER----- */

    footer {
        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .copyright {
            margin: 0;
        }
        .credit {
            margin-left: .3rem;
        }
    }
}



@media (min-width: 1400px) {
    
    /* -----HEADER----- */

    .container {
        max-width: 1320px;
    }
    .btn-toggle-switch .label {
        display: block;
    }
    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
    }
    .navbar {
        display: block;
    }
    #auth-signin {
        display: block;
    }
    .btn-mobile {
        display: none;
    }

    /* -----PAGE 1----- */

    .page1 {
        .container {
            grid-template-columns: 2fr 3fr;
            grid-template-areas: "headline images" "content images";

            .buttons {
                flex-direction: row;
            }

            .discovermore {
                margin-top: 10rem;
                margin-bottom: 4rem;
            }

            .headline {
                text-align: left;
                padding-left: 0;
                padding-right: 0;

                h1 {
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 56px;
                }
            }

            .images {

                .image-back {
                    height: 550px;
                    width: auto;
                    left: 11rem;
                }

                .image-front {
                    height: 650px;
                    width: auto;
                }
            }
        }
    }

    /* -----PAGE 2-----*/

    .page2 .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "iphone text" "iphone content";

        .image {
            grid-area: iphone;
            display: block;
            padding-top: 4rem;
            padding-right: 6rem;
            padding-bottom: 4rem;
        }
        .boxes {
            grid-area: content;
            padding-bottom: 5rem;
        }
        h2 {
            grid-area: text;
            text-align: left;
            padding-top: 4rem;
        }
        p {
            grid-area: text;
            text-align: left;
            padding-top: 10rem;
        }

    }

    .container .box1, .box2, .box3, .box4, .box5, .box6 {
        
        grid-template-areas: "img h3" "img p";

        img {
            grid-area: img;
        }
        h3 {
            grid-area: h3;
            padding: 0;
            padding-left: 1.5rem;
         
            margin-top: 2rem;
        }
        p {
            grid-area: p;
            padding: 0;
            padding-left: 1.5rem;
        }
    }



    /* -----TESTIMONIAL----- */

    .testimonial {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "text images";

        background-color: var(--color-grey100);

        h2 {
            font-size: 36px;
            font-weight: 800;
            grid-area: text;
            padding-right: 2rem;
            padding-left: 310px;
            padding-top: 40px;
        }
        .images {
           grid-area: images;

           padding-top: 60px;
           padding-bottom: 80px;
        }
    }












    /* -----BRAND BOX----- */

    #brand-5, #brand-6 {
        display: flex;
        align-items: left;
    }

}